.profile__button-edit {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(255, 255, 255, 1);
  box-sizing: border-box;
  margin: 0 0 0 2px;
  padding: 0;
  align-self: center;
  background: none;
  background-image: url(../../../images/edit.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.profile__button-edit:hover {
  opacity: .6;
  cursor: pointer;
  transition: opacity .5s ease-in-out;
}

@media screen and (max-width:767px) {
  .profile__button-edit {
    width: 18px;
    height: 18px;
    margin-left: 0;
  }
}
