.header {
    width: 100%;
    max-width: 880px;
    min-width: 320px;
    margin: 0 auto 0 auto;
    padding: 45px 0 15px 0;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
  }
  .header__link {
    text-decoration: none;
    transition: opacity 0.5s linear;
    line-height: 22px;
    font-size: 18px;
    font-weight: 400;
    margin: 6px 0 0 0;
    color: #FFFFFF;
}

.header__link:hover {
    opacity: 0.6;
}

.header__info {
    margin: 0;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    
}
.header__name {
    margin: 6px 24px 0 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
  @media screen and (max-width:767px) {
    .header {
      padding: 28px 0 0 0;
    }
  }
  
  @media screen and (min-width:768px) and (max-width:1023px) {
    .header {
      width: 90%;
    }
  }